@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);
		
		.zindexor {
			z-index:1000;
		}
		
		.logos {
		  display: inline-block;
		  margin-left: auto;
		  margin-right: auto;
		  width: 100px;
		  padding: 15px;
		  mix-blend-mode: multiply;
		}
		.logostext {
		  display: inline-block;
		  margin-left: auto;
		  margin-right: auto;
		}
		#.logodiv {border-radius: 20px;}
		
		.topnav {
		  overflow: hidden;
		  background-color: #333333;
		  #border-radius:8px;
		  position: sticky;
		  position: -webkit-sticky;
		  overflow: hidden;
		}
		.topnav a {
		  float: left;
		  display: block;
		  color: #f2f2f2;
		  text-align: center;
		  padding: 14px 16px;
		  text-decoration: none;
		  font-size: 17px;
		  position: sticky;
		}
		.topnav a:hover {
		  background-color: #B3B3B3;
		  color: black;
		}
		.topnav a.active {
		  background-color: #6185fa /*#42F5AD*/;
		  color: white;
		}
		.topnav .icon {display: none;}
		
		@media screen and (max-width: 600px) {
		  .topnav a:not(:first-child) {display: none;}
		  .topnav a.icon {
			float: right;
			display: block;
		  }
		}
		@media screen and (max-width: 600px) {
		  .topnav.responsive {position: relative;}
		  .topnav.responsive .icon {
			position: absolute;
			right: 0;
			top: 0;
		  }
		  .topnav.responsive a {
			float: none;
			display: block;
			text-align: left;
		  }
		}
		
		.bodyhost {
		  background-color: #D4E6E9;
		  font-family: 'Lato', Calibri, Arial, sans-serif;
		  color: #090257;
		  padding-top: 7px;
		  padding-bottom: 7px;
		  padding-left: 50px;
		  padding-right: 50px;
		  #border-radius:10px;
		  height:auto;
		  width:auto;
		  background-image: radial-gradient(#BAC9F7,#D4E6E9);
		}
		.formhost {
		  background-color: #111 /*#5675CC*/;
		  font-family: 'Basic';
		  padding: 5px;
		  #border-radius:10px;
		  height:auto;
		  width:auto;
		  font-size:20px;
		  opacity:0.6;
		}
		
		.column {
		  float: left;
		  width: 25%;
		  margin-bottom: 16px;
		  padding: 0 8px;
		}
		@media screen and (max-width: 950px) {
		  .column {
			width: 33.33%;
			display: block;
		  }
		}
		@media screen and (max-width: 650px) {
		  .column {
			width: 50%;
			display: block;
		  }
		}
		@media screen and (max-width: 450px) {
		  .column {
			width: 100%;
			display: block;
		  }
		}
		
		html {
		  box-sizing: border-box;
		  scroll-behavior: smooth;
		}
		*, *:before, *:after {
		  box-sizing: inherit;
		}
		.card {
		  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
		  background-color: #4F4F4F;
		  border-radius: 10px;
		  color: #B0B0B0;
		}
		.container {
		  padding: 0 16px;
		}
		.container::after, .row::after {
		  content: "";
		  clear: both;
		  display: table;
		}
		/*.title {
		  color: white;
		}*/
		img {
		  border-radius: 8px;
		  vertical-align: middle;
		}
		
		#myBtn {
		  display: none;	/* Hidden by default */
		  position: fixed;
		  opacity: 0.8;
		  bottom: 15px;		/* place at page bottom */
		  right: 15px;		/* place X px from right */
		  z-index: 99;		/* prevent overlap */
		  border: none;
		  outline: none;
		  background-color: black;
		  color: white;
		  padding: 10px;
		  border-radius: 10px;
		  font-size: 20px;
		}
		
		.fa-footer {
		  padding: 20px;
		  font-size: 30px;
		  width: 50px;
		  text-align: center;
		  text-decoration: none;
		  color: white;
		}
		.footer {
		  position: static;
		  left: 0;
		  bottom: 0;
		  width: 100%;
		  background-color: grey;
		  color: white;
		  text-align: center;
		  padding: 5px;
		  margin: 0;
		}