/* logos */
.logos {
    display: inline-block;
    width: 40px;
    mix-blend-mode: multiply;
}

.logostext {
    display: inline-block;
    padding: 0 10px;
    transform: translate(0, -50%);
}





/* links positioning */
.navbar nav {
    display: flex;
    padding: 10px 20px;
    justify-content: space-between;
    align-items: center;
}

.nav-links {
    flex: 1;
    text-align: right;
}

.nav-links li {
    position: relative; 
    display: inline-block;
    margin: 10px 0;
}





/* links styling */
.nav-links li a {
    padding: 10px 15px;
}

.nav-links a:hover {
    background-color: #525252;
    color: white;
}

.nav-links a.active {
    background-color: #007cb1 /*#42F5AD*/;
    color: white;
}
