.navbar {
    top: 0;
    position: sticky;
    padding: 15px 40px;
    width: 100%;
    z-index: 100;
    backdrop-filter: blur(5px);
    border-bottom: 2px solid #ffffff50;
    color: white;
    background-color: #000000ff;
}





/* logos */
.logos {
    width: 40px;
    border-radius: 20px;
    padding: 2px;
    background-color: white;
}





/* links positioning */
.navbar nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links {
    flex: 1;
    text-align: right;
}

.nav-links li {
    display: inline-block;
    margin: 10px 0;
}





/* links styling */
.nav-links li a {
    padding: 10px 20px;
    border-radius: 20px;
}

.nav-links li a:hover {
    color: #396AA2;
}

.nav-links li a.active {
    background-color: #396AA2;
}
