#subscribe-form {
    font-size: 20px;
    padding: 50px;
}

#subscribe-form i {
    font-size: 2rem;
}

#mc_embed_signup {
    padding: 0 10%;
    text-align: center;
}

#mc_embed_signup_scroll {
    text-align: center;
}

#mce-field-group {
    padding: 0 50%;
    text-align: left;
}