section#team {
    font-size: 20px;
    text-align: center;
}

#team h2 {
    background: linear-gradient(30deg, #1e1e41, #3d3d70, #131335);
    color: #f5f5f5;
    padding: 20px;
}





/* container for holding profile cards */
#team .profile-container {
    padding: 20px;
    background-color: #eeeeee;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}





/* profile cards properties */
.profile {
    width: 300px;
    height: 450px;
    margin: 30px;
    padding-top: 20px 0 10px 0;
    border-radius: 20px;
    transition: 0.5s ease;
    overflow: hidden;
    box-shadow: #ffffffee -10px -8px 6px 0px,
                #0000006e 10px 8px 6px 0px;
}
.profile p {
    color: #5a5a5a;
}

.profile:hover {
    transform: scale(1.05);
}

.profile img {
    height: 65%;
}

.profile h3 {
    margin: 20px 0;
}
